<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.yellowsoft.needaspot" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:label="@string/app_name"></activity>
        <!--<activity android:name=".ActivityScreen" android:label="@string/app_name"></activity>-->
        <activity android:name=".ChattingScreen" android:label="@string/app_name"></activity>
        <!--<activity android:name=".InvitePeople" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".ProfileActivity" android:label="@string/app_name" ></activity>-->
        <activity android:name=".MessageScreen" android:label="@string/app_name" ></activity>
        <!--<activity android:name=".SettingsScreen" android:label="@string/app_name"></activity>-->
        <!--<activity android:name=".TrainersFragment" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".WorkoutDetailsScreen" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".WorkoutScreen" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".ProfileScheduleScreen" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".MediaScreen" android:label="@string/app_name" ></activity>-->
        <!--<activity android:name=".MediaVideoScreen" android:label="@string/app_name"></activity>-->
        <!--<activity android:name=".WorkoutsPage" android:label="@string/app_name"></activity>-->
        <!--<activity android:name=".MainActivityScreen" android:label="@string/app_name"></activity>-->
        <activity android:name=".ScheduleScreen" android:label="@string/app_name"></activity>
        <activity android:name=".MainFragment" android:label="@string/app_name"></activity>

    </application>

</manifest>
